.list-counters {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.app {
  display: flex;
  justify-content: center;
}
.all-states div {
  margin: 2px;
  text-align: center;
}
.counter {
  background-color: blueviolet;
}
.toggle.on {
  background-color: green;
}
.toggle.off {
  background-color: red;
}
h2 {
  margin: 0;
}
h1 {
  text-align: center;
}
.count-num {
  font-size: 2em;
}
.code {
  background-color: darkgrey;
  margin: 3px;
}
.toggle-res {
  padding: 0.5em;
}
pre {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0.2em;
}
button {
  height: 3em;
  padding: 1em;
}
